<launch>
    <env name="QT_AUTO_SCREEN_SCALE_FACTOR" value="1"/>
    <arg name="gripper_model" default="epick_4cups"/>
    <arg name="prefix" default=""/>

    <param name="robot_description"
        command="$(find xacro)/xacro $(find robotiq_epick_vaccum_gripper_description)/urdf/gripper_demo.urdf.xacro gripper_model:=$(arg gripper_model)"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher"/>

    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find robotiq_epick_vaccum_gripper_description)/rviz/view_gripper.rviz" required="true"/>
</launch>